

h1{
color: yellow ;
font-family: 'Fredoka One', serif;
}

h2{
color: black;
font-family: 'Fredoka One', serif;
}

h3{
color: white;
font-family: 'Courgette', serif;
}



#bg {
background: url(https://wallpaperplay.com/walls/full/9/8/e/96473.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
