html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    html {
        margin-top: 70px;
    }
}

@media only screen and (min-device-width: 540px) and (max-device-height: 720px) {
    html {
        margin-top: 30px;
    }
}

@media only screen and (min-device-width: 1900px) {
    .image {
        width: 70% !important;
        margin-left: 30% !important;
    }
}

@media only screen and (min-device-width: 2300px) {
    .image {
        width: 60% !important;
        margin-left: 40% !important;
    }
}

@media only screen and (min-device-width: 2800px) {
    .image {
        width: 50% !important;
        margin-left: 50% !important;
    }
}

@media only screen and (min-device-width: 3500px) {
    .image {
        width: 40% !important;
        margin-left: 60% !important;
    }
}

body {
    background-color: black;
}

.giocoSfondo{
    background-color: white !important;
}

/*------------------------------------------------------------------------------------------------------------------------------------*/


/*NAVBAR*/

#navbar {
    background-color: black !important;
    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    /* Stay on top */
    width: 100%;
    /* Full width */
    transition: top 0.5s;
    /* Transition effect when sliding down (and up) */
    z-index: 9999;
}

.nav-link {
    color: white !important;
    /*font-family:'Bebas Neue', !important;  */
    /*font-family: 'Staatliches', !important;*/
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    /*METTE IN MAIUSCOLO IL TESTO*/
    text-decoration: none;
    /*ELIMINA LA SOTTOLINEATURA DAL TESTO */
    letter-spacing: 0.5em;
    /*SPAZIO TRA LE LETTERE*/
    display: inline-block;
    /*DOVREBBE METTERE IL TESTO IN LINEA E NON A CAPO*/
    padding: 10px 50px;
    /*Primo elemento è la grandezza della banda nera, il secondo la distanza tra gli elementi*/
    position: relative;
}

.nav-link:hover {
    color: white;
}


/*PER NON FAR CAMBIARE IL COLORE DELLE SCRITTE QUANDO CI PASSO SOPRA IL MOUSE*/

.nav-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #00ffff;
    /*CAMBIA IL COLORE DELLA RIGA QUANDO SI PASSA SOPRA IL MOUSE*/
    transition: width 0.6s ease 0s, left 0.6s ease 0s;
    /*LENTEZZA ANIMAZIONE*/
    width: 0;
}

.nav-link:hover:after {
    width: 100%;
    left: 0;
    right: 0;
}

.test {
    scroll-behavior: smooth !important;
}

@media screen and (max-width: 993px) {
    .nav-link {
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 993px) {
    .nav-item {
        text-align: center;
        word-spacing: 1.5vw;
    }
}

.sm-icons {
    flex-direction: row;
}

@media screen and (max-width: 993px) {
    .sm-icons {
        float: right;
    }
}


/*FINE NAVBAR*/

/*---------------------------------------------------------------------------------------------------------------*/
#drawCelles{
    border: 1px solid black;
}